@media (min-width: 320px) {
    .container {
        margin: 0;
    }
    
    .banner {
        height: 100vw;
        background-color: #97CDDA;
    }
    
    .hello {
        font-family: "Montserrat";
        width: 95vw;
        color: #FFF;
        font-size:  12vw;
        position: relative;
        left: 50%;
        top: 15%;
        transform: translate(-50%);
    }

    .im-samuel {
        font-family: "Montserrat";
        width: 95vw;
        color: #FFF;
        font-size:  12vw;
        position: relative;
        left: 50%;
        top: 5%;
        transform: translate(-50%);
        margin: 0;
    }

    .banner-desc {
        font-family: "Montserrat";
        width: 75vw;
        color: #FFF;
        font-size:  5vw;
        position: relative;
        left: 50%;
        top: 0;
        transform: translate(-50%);
    }
    
    .first-cont {
        display: grid;
        grid-auto-rows: 85vw 0;
        grid-template-columns: repeat(auto-fill, 1fr);
    }
    
    .left-side1 {
        position: relative;
        width: 100%;
        background-color: #C0E8C5;
    }

    .desc-p {
        font-family: "Open Sans";
        width: 80vw;
        color: #000;
        font-size:  4vw;
        position: relative;
        left: 50%;
        top: 25%;
        transform: translate(-50%);
    }

    .desc-strong {
        color: #000;
    }

    .desc-touch {
        font-family: "Open Sans";
        width: 95vw;
        color: #000;
        font-size:  3vw;
        position: relative;
        left: 50%;
        top: 30%;
        transform: translate(-50%);
    }

    .desc-email {
        color: #000;
    }

    .second-cont {
        display: grid;
        grid-auto-rows: 20vw 80vw;
        grid-template-columns: repeat(auto-fill, 1fr);
        background-color: #FAE7AD;
    }
    
    .left-side2 {
        width: 100%;
    }

    .bg-title {
        font-family: "Montserrat";
        color: #000;
        font-weight: 900;
        font-size: 6vw;
        width: 90vw;
        position: relative;
        left: 50%;
        top: 40%;
        transform: translate(-50%);
    }
    
    .bg-text, .bg-text2, .bg-text3 {
        font-family: "Open Sans";
        color: #000;
        font-size: 3.1vw;
        width: 80vw;
        position: relative;
        left: 50%;
        top: 5%;
        transform: translate(-50%);
    }
    
    .third-cont {
        display: grid;
        grid-auto-rows: 80vw 80vw;
        grid-template-columns: repeat(auto-fill, 1fr);
        background-color: #C7BDE0;
    }
    
    .left-side3 {
        width: 80%;
        height: 80%;
        position: relative;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        background-color: #4f1eca;
    }
    
    .right-side3 {
        width: 80%;
        height: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background-color: #4f1eca;
    }

    .skill-logo {
        width: 5vw;
        
    }

    .skill-title {
        font-size: 3vw;
        margin: 0;
    }

    .third-left, .third-center, .third-right {
        width: 100%;
    }

    .fourth-cont {
        display: grid;
        grid-auto-rows: 50vw;
        grid-template-columns: 50% 50%;
    }

    .fourth1, .fourth2, .fourth3, .fourth4 {
        width: 100%;
    }

    .gallery1, .gallery2, .gallery3, .gallery4 {
        width: 100%;
        height: 100%;
    }

    .footer {
        height: auto;
        background-color: #90D4C5;
        padding: 12vw 0 0 0;
    }

    .sunnyside-foot {
        font-family: "Open Sans";
        font-weight: 900;
        color: hsl(167, 40%, 24%);
        font-size: 10vw;
        width: 100%;
        position: relative;
        left: 50%;
        top:50%;
        margin: 0 0 10vw 0;
        transform: translate(-50%);
    }

    .link {
        font-family: "Open Sans";
        color: hsl(167, 40%, 24%);
        font-size: 4vw;
        margin: 9.3vw;
        text-decoration: none;
    }

    .link:hover {
        color: #FFF;
    }

    .icon {
        width: 6vw;
        margin: 20vw 3.5vw;
        cursor: pointer;
    }

    .icon:hover {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(200%) contrast(200%);
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 7vw 0 0 0;
    }
    
    .banner {
        height: 40vw;
    }
    
    .banner-img {
        position: relative;
        top: -50%;
        width: 100%;
        height: 150%;
    }
    
    .creatives {
        font-family: "Montserrat";
        letter-spacing: 1vw;
        width: 95vw;
        font-size:  4vw;
        top: 16%;
    }
    
    .arrow {
        width: 3vw;
        position: absolute;
        top: 24vw;
    }
    
    .first-cont {
        grid-auto-rows: 40vw;
        grid-template-columns: 50% 50%;
        transform: scaleX(-1);
    }
    
    .left-side1 {
        position: relative;
        width: 100%;
        transform: scaleX(-1);
    }

    .right-side1 {
        width: 100%;
        padding: 5vw 0 0 0;
        transform: scaleX(-1);
    }
    
    .transform-title {
        font-size: 3vw;
        width: 32vw;
        text-align: left;
    }
    
    .transform-text {
        font-size: 1.25vw;
        line-height: 3vw;
        width: 32vw;
        margin:  0 0 2.5vw 0;
        text-align: left;
    }
    
    .transform-learn {
        font-size: 1.5vw;
        font-weight: 700;
        width: 45vw;
        text-align: left;
        position: relative;
        right: 20%;
    }

    .transform-learn::after {
        height: .8vw;
        width: 12vw;
        top: -.7vw;
    }

    .second-cont {
        grid-auto-rows: 40vw;
        grid-template-columns: 50% 50%;
    }
    
    .right-side2 {
        padding: 5vw 0 0 0;
    }
    
    .stand-title {
        font-size: 3vw;
        width: 32vw;
        text-align: left;
    }
    
    .stand-text {
        font-size: 1.25vw;
        line-height: 3vw;
        width: 32vw;
        margin:  0 0 2.5vw 0;
        text-align: left;
    }
    
    .stand-learn {
        font-size: 1.5vw;
        font-weight: 700;
        width: 45vw;
        text-align: left;
        position: relative;
        right: 20%;
    }

    .stand-learn::after {
        height: .8vw;
        width: 12vw;
        top: -.7vw;
    }
    
    .graphic-title {
        font-size: 2.5vw;
        left: 25%;
        width: 20vw;
        margin-top: 160.5vw;
        transform: translate(-50%);
    }
    
    .graphic-text {
        font-size: 1.3vw;
        line-height: 2.5vw;
        width: 30vw;
        left: 25%;
        margin-top: 165.5vw;
        transform: translate(-50%);
    }
    
    .photo-title {
        font-size: 2.5vw;
        left: 75%;
        width: 20vw;
        margin-top: 160.5vw;
        transform: translate(-50%);
    }
    
    .photo-text {
        font-size: 1.3vw;
        line-height: 2.5vw;
        width: 30vw;
        left: 75%;
        margin-top: 165.5vw;
        transform: translate(-50%);
    }

    .testimonials {
        font-family: "Montserrat";
        color: hsl(210, 4%, 67%);
        font-size: 2vw;
        letter-spacing: 1vw;
        width: 90vw;
        position: absolute;
        left: 50%;
        margin-top: 190vw;
        top: 0;
        transform: translate(-50%);
    }

    .third-cont {
        grid-auto-rows: 30vw;
        grid-template-columns: repeat(3, 1fr);
        padding: 23vw 7vw;
        height: 18vw;
    }

    .third-left, .third-center, .third-right {
        width: 25vw;
    }

    .client1, .client2, .client3 {
        width: 5vw;
        height: 5vw;
    }

    .client1-text, .client2-text, .client3-text {
        font-size: 1.2vw;
        line-height: 2.5vw;
        width: 24vw;
    }

    .client1-name, .client2-name, .client3-name {
        font-size: 2vw;
        font-weight: 900;
        width: 15vw;
        top: 15%;
    }

    .client1-role, .client2-role, .client3-role {
        font-size: 1.4vw;
        width: 15vw;
        top: 12%;
    }

    .fourth-cont {
        grid-auto-rows: 30vw;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .footer {
        height: auto;
        padding: 6vw 0 0 0;
    }

    .sunnyside-foot {
        font-size: 4vw;
        width: 100%;
        margin: 0 0 5vw 0;
    }

    .link {
        font-size: 1.7vw;
        margin: 3vw;
        left: 5%;
    }

    .icon {
        width: 2vw;
        margin: 10vw 1vw 6vw 1vw;
        cursor: pointer;
    }
}